/* Let's load some fonts */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

/* Generic stuff */
.remark-slide-content {
	font-size: 22px;
	text-shadow: 0 0 0px #333;
	  padding-right: 30px;
  padding-bottom: 30px;
}

/* footer */
div.my-footer {
    background-color: #272822;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20px;
}

div.my-footer span {
	  font-size: 14px;
  	color: #CC0000;
    opacity: 0.5;
  	font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 5px;
    margin-bottom: -11.6px;
    left: 35px;
    height: 40px;
    width: 120px;
}

.remark-code {
  font-family: 'Ubuntu Mono';
  font-size: 22px;
}

.remark-inline-code{
  font-family: 'Ubuntu Mono';
  background: #F8F8F8;
  border-radius: 3px;
  padding: 4px;
}

body { font-family: 'Open Sans' }

.grViz {
  margin-left:auto; margin-right:auto; display:block;
}


div.remark-slide-container h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #de2d26;
	letter-spacing: -1px;
  font-size: 45px;
}


div.remark-slide-container h2 {
	font-family: 'Open Sans', sans-serif;
	color: #D86700;
  margin-top: -6px;
	letter-spacing: -1px;
	font-size: 25px
}

div.remark-slide-container h3 {
	font-family: 'Open Sans', sans-serif;
	color: #fb6a4a;
	letter-spacing: -1px;
	font-size: 18px;
	padding-top: 30px
}

.large { font-size: 130%;}
.slarge { font-size: 115%;}
.small { font-size: 70%;}
.tiny {font-size: 40%;}


/* links */
a, a > code {
  color: #CC0000; /*default: rgb(249, 38, 114); || sets color of links */
  text-decoration: none; /* turns off background coloring of links */
}




/* title slide */

.title-slide {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
	background-position: center bottom 170px;
	background-size: 30%;
	border-bottom: 0px solid  #CC0000;
	box-shadow:  0 55px 0 #fff;
}

.title-slide h1 {
  	font-family: 'Lato', sans-serif;
  	font-weight: normal;
    font-size: 25px;
}

.title-slide h3:nth-of-type(1) {
  	font-family: 'Open Sans', sans-serif;
  	font-weight: normal;
    font-size: 25px;
}

.title-slide h3:nth-of-type(2) {
  	font-family: 'Open Sans', sans-serif;
  	font-weight: normal;
    font-size: 25px;
}

.title-slide .remark-slide-number {
  display: none;
}

/* Hmm. How about the slide number. */

.remark-slide-number {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #CC0000;
}

/* Okay, now let's add a simple bottom border */


div.remark-slide {
  border-bottom: 3px solid  #CC0000;
  box-shadow:  0 5px 0 #F66733;

}



/* custom.css */
.left-code {
  color: #777;
  width: 40%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 50%;
  float: right;
  padding-left: 10%;
}

.left-code-wide {
  color: #777;
  width: 63%;
  height: 92%;
  float: left;
}


.right-plot-narrow {
  width: 35%;
  float: right;
  padding-left: 1%;
}

.right-wide {
  width: 55%;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}


.left-threeway {
  width: 31%;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

.center-threeway {
  width: 31%;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

.right-threeway {
  width: 31%;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}

.right-twothirds {
  width: 62%;
  float: left;
  padding-right: 1%;
  padding-left: 1%;
}


/* custom box */

.small-note {
  width: 75%;
  font-size: 18px;
  line-height: 1.2em;
  float: left;
}

/* custom list */

.narrow-space {
  line-height: 0.5em;
  margin: 0;
  float: left;
}


