
<div class="wrapper">
  <header>

    <h1>Shiro Kuriwaki</h1>
    <p></p>
    <p style="color:#6f777d;font-weight:bold">Postdoctoral Scholar, Stanford University (2021-2022)</p>
    <p style="color:#6f777d;font-weight:bold">To be Assistant Professor of Political Science, Yale University (2022-)</p>

    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/kuriwaki" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://scholar.google.com/citations?user=Dqm0DtcAAAAJ" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://www.twitter.com/shirokuriwaki/" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div>
    </div>

    <br>

  </header>
</div>
