
<div class="wrapper">
  <header>

    <h1>Shiro Kuriwaki</h1>
    <p></p>
    <p style="color:#6f777d;font-weight:bold">Assistant Professor of Political Science, Yale University</p>
    <p style="color:#6f777d">(On leave, AY 2024-25)</p>
    <p style="color:#6f777d;font-weight:bold">Resident Fellow at the Institution of Social and Policy Studies</p>

    <p></p>

    <p>My research agenda studies the mechanics of democratic representation in American politics. I focus on how individual behavior aggregates to geographic districts, elected representatives, and public policy. My secondary focus is on developing statistical methods that improve the measurement of electoral behavior and public opinion. In an ongoing project, I study the structure of voter's party choices across levels of government using cast vote records. In another line of work, I study Congressional politics and the representation of interests. <i>For the 2024-25 academic year, I am a visiting scholar at the George Washington University in Washington DC.</i> </p>

    <hr width="70%">

    <p><a href="/cv/kuriwaki_cv.pdf">Curriculum Vitae</a></p>
    <p><a href="https://politicalscience.yale.edu/people/shiro-kuriwaki">Department Website</a><p>


    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/kuriwaki" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://scholar.google.com/citations?user=V9l8POIAAAAJ" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://www.twitter.com/shirokuriwaki/" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div>
    </div>

    <br>


    <p>
      shiro.kuriwaki@yale.edu<br>
      77 Prospect St, Room A104<br>
      Institution for Social and Policy Studies<br>
      Yale University<br>
      New Haven, CT 06511
    </p>




  </header>
</div>
