
<div class="wrapper">
  <header>

    <h1>Shiro Kuriwaki</h1>
    <p></p>
    <p style="color:#6f777d;font-weight:bold">Assistant Professor of Political Science, Yale University</p>
    <p style="color:#6f777d;font-weight:bold">Resident Fellow at the Institution of Social and Policy Studies, Yale University</p>

    <p></p>

    <p>My research focuses on democratic representation in American Politics. This research agenda primarily improves upon the measurement of electoral behavior and public opinion, and studies how individual behavior aggregates to geographic districts, elected representatives, and public policy. In an ongoing project, I study the structure of voter's party choices across levels of national, state, and local government, using cast vote records and surveys. I received my Ph.D. from the Department of Government at Harvard University (2021) and my B.A. from Princeton University (2014), and previously worked at the Analyst Institute in Washington D.C.</p>

    <hr width="70%">

        <p><a href="/cv/kuriwaki_cv.pdf">Curriculum Vitae</a></p>
    <p><a href="https://politicalscience.yale.edu/people/shiro-kuriwaki">Department Website</a><p>


    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/kuriwaki" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://scholar.google.com/citations?user=V9l8POIAAAAJ" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://www.twitter.com/shirokuriwaki/" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div>
    </div>

    <br>


    <p>
      shiro.kuriwaki@yale.edu<br>
      77 Prospect St, Room A104<br>
      Institution for Social and Policy Studies<br>
      Yale University<br>
      New Haven, CT 06511
    </p>




  </header>
</div>
