
<div class="wrapper">
  <header>
    <!-- <img src="images/2020-09-23_bright.jpg" alt="photo" width="200px"> -->
    <!-- <p></p> -->
    <h1>Shiro Kuriwaki</h1>
    <p></p>
    <p class="view">PhD Candidate<br>Department of Government<br> Harvard University</p>
    <p class="view">To be Assistant Professor of Political Science, Yale University (2022-)</p>
    <p></p>

    <p><a href="kuriwaki.github.io/cv/kuriwaki_cv.pdf"><b>Curriculum Vitae</b></a></p>

    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/kuriwaki" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://scholar.google.com/citations?user=Dqm0DtcAAAAJ" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://www.twitter.com/shirokuriwaki/" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div>
    </div>

    <br>

    <p>
      kuriwaki@g.harvard.edu<br>
      1737 Cambridge Street<br>
      Room 428, CGIS Knafel Building<br>
      Cambridge, MA 02138
    </p>



  </header>
</div>
