header_left {
  top: 1;
  width: 330px;
  float: left;
  position: fixed;
  padding-bottom: 3%; /* this ensures that the bottom text is not cut off when scrolling is enabled */
  /* another option is to just use sticky */ 
  /*position: sticky; */
}

/* this ensures that if the text is not visible, the left header is scrollable*/

header_left,  .scrollableContentAncestor {
  height: 100%; /* Enable the scrollable content `height: 100%` to be interpreted correctly. */
}

.scrollableContent{
  height: 100%;     /* All the height that is _not_ taken by the other blocks (i.e. the fixed header). This is the part that enables dynamic height header. */
  overflow-y: auto; /* For all the content that does not fit in the part of the block that is visible within the viewpart, make it vertically scrollable. */
}

/* this dynamically move header_left depending on mobile/desktop  */ 

@media print, screen and (max-width: 960px) {

  header_left {
    float: none;
    position: static;
    width: auto;
  }

  header_left {
    padding-right: 320px;
  }

  header_left a small {
    display: inline;
  }

  header_left ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {

  header_left {
    padding: 0;
  }

  header_left ul, header_left p.view {
    position: static;
  }

}

@media print, screen and (max-width: 480px) {

  header_left ul {
    display: none;
  }
}
