/* https://css-tricks.com/tips-aligning-icons-text/#tip-4-use-css-to-fine-tune-the-appearance */
a.is-icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
}


/* blockquotes */
details[open] {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0.1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;
  background-color: #f6f7f8;

  cite {
    font-style: italic;

    &:before {
      padding-right: 5px;
    }
  }
}


img {
    max-width: 100%;
}

.headshot {
  max-width: 80%;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
}


h4 {
  margin: 15px 0 10px;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
}
