a.is-icon {
    border-bottom: none;
}

.centerImage
{
 text-align:center;
 display:block;
}
</style>

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}


.video-container iframe {
    position: absolute;
    border: 0;
    top:0;
    left:0;
    right:0;
    width: 25%;
    height: 100%;
}
