a.is-icon {
    border-bottom: none;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}


.video-container iframe {
    position: absolute;
    border: 0;
    top:0;
    left:0;
    right:0;
    width: 25%;
    height: 100%;
}


/* blockquotes */

details[open] {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.25em solid $primary-color;
  background-color: #f6f7f8;

  cite {
    font-style: italic;

    &:before {
      padding-right: 5px;
    }
  }
}
